<<<<<<< HEAD
/* Sidebar Container */
.sidebar {
    height: 100vh;
    width: 200px;
    transition: width 0.3s;
  }
  
  .collapsed-sidebar .sidebar {
    width: 0;
    overflow: hidden;
  }
  
  .toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }
  
  .sidebar.open + .main-content {
    margin-left: 200px;
  }
  
  .nav-link {
    font-size: 18px;
    color: #ffffff;
  }
  
  .nav-link:hover {
    color: #f1f1f1;
  }
  
  /* Transition effects for sidebar */
  .sidebar ul {
    transition: all 0.3s ease;
  }
  
  /* Adjustments for small screens */
  @media screen and (max-width: 768px) {
    .sidebar {
      position: fixed;
      z-index: 999;
      width: 0;
      overflow: hidden;
    }
  
    .sidebar.open {
      width: 200px;
    }
  
    .collapsed-sidebar .main-content {
      margin-left: 0;
    }
=======
/* Định dạng chung cho sidebar và các nút */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  
  .sidebar button {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Đổi màu nút khi được chọn */
  .nav-link.active-link {
    background-color: #17a2b8;  // Màu cyan nhạt khi được chọn
    color: white !important;
>>>>>>> 85ed17afc4748660f638b1c6cd14a39117105eb5
  }
  