/* Định dạng chung cho sidebar và các nút */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  
  .sidebar button {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Đổi màu nút khi được chọn */
  .nav-link.active-link {
    background-color: #17a2b8;  // Màu cyan nhạt khi được chọn
    color: white !important;
  }
  